# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.


# Theme Settings
#
# Review documentation to determine if you should use `theme` or `remote_theme`
# [https://mmistakes.github.io/minimal-mistakes/docs/quick-start-guide/#installing-the-theme](https://mmistakes.github.io/minimal-mistakes/docs/quick-start-guide/#installing-the-theme)


# theme                  : "minimal-mistakes-jekyll"
remote_theme           : "mmistakes/minimal-mistakes"
minimal_mistakes_skin    : "default" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"


# Site Settings
locale                   : "en-UK"
rtl                      : # true, false (default) # turns direction of the page into right to left for RTL languages
title                    : "Nasim Mohamed Ismail"
title_separator          : "-"
subtitle                 : "PhD Candidate in Machine Learning and Bioinformatics"
name                     : "Nasim Mohamed Ismail"
description              : "PhD student at Queen Mary University of London researching machine learning applications in neurodegenerative disease transcriptomics, focusing on Parkinson's disease and Alzheimer's disease."
url                      : "https://nasim-mi.github.io"
baseurl                  : # the subpath of your site, e.g. "/blog"
repository               : "nasim-mi/nasim-mi.github.io"
teaser                   : # path of fallback teaser image, e.g. "/assets/images/500x300.png"
logo                     : # path of logo image to display in the masthead, e.g. "/assets/images/88x88.png"
masthead_title           : # overrides the website title displayed in the masthead, use " " for no title
breadcrumbs              : true
words_per_minute         : 200
enable_copy_code_button  : true
copyright                : "Nasim Mohamed Ismail"
copyright_url            : "https://nasim-mi.github.io"
comments:
  provider               : false
  disqus:
    shortname            : # https://help.disqus.com/customer/portal/articles/466208-what-s-a-shortname-
  discourse:
    server               : # [https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963](https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963) , e.g.: meta.discourse.org
  facebook:
    # [https://developers.facebook.com/docs/plugins/comments](https://developers.facebook.com/docs/plugins/comments)
    appid                :
    num_posts            : # 5 (default)
    colorscheme          : # "light" (default), "dark"
  utterances:
    theme                : # "github-light" (default), "github-dark"
    issue_term           : # "pathname" (default)
  giscus:
    repo_id              : # Shown during giscus setup at [https://giscus.app](https://giscus.app)
    category_name        : # Full text name of the category
    category_id          : # Shown during giscus setup at [https://giscus.app](https://giscus.app)
    discussion_term      : # "pathname" (default), "url", "title", "og:title"
    reactions_enabled    : # '1' for enabled (default), '0' for disabled
    theme                : # "light" (default), "dark", "dark_dimmed", "transparent_dark", "preferred_color_scheme"
    strict               : # 1 for enabled, 0 for disabled (default)
    input_position       : # "top", "bottom" # The comment input box will be placed above or below the comments
    emit_metadata        : # 1 for enabled, 0 for disabled (default) # [https://github.com/giscus/giscus/blob/main/ADVANCED-USAGE.md#imetadatamessage](https://github.com/giscus/giscus/blob/main/ADVANCED-USAGE.md#imetadatamessage)
    lang                 : # "en" (default)
    lazy                 : # true, false # Loading of the comments will be deferred until the user scrolls near the comments container.
  staticman:
    branch               : # "master"
    endpoint             : # "https://{your Staticman v3 API}/v3/entry/github/"
reCaptcha:
  siteKey                :
  secret                 :
atom_feed:
  path                   : # blank (default) uses feed.xml
  hide                   : # true, false (default)
search                   : true
search_full_content      : true
search_provider          : lunr
lunr:
  search_within_pages    : true
algolia:
  application_id         : # YOUR_APPLICATION_ID
  index_name             : # YOUR_INDEX_NAME
  search_only_api_key    : # YOUR_SEARCH_ONLY_API_KEY
  powered_by             : # true (default), false
google:
  search_engine_id       : # YOUR_SEARCH_ENGINE_ID
  instant_search         : # false (default), true
# SEO Related
google_site_verification : # ADD YOUR VERIFICATION CODE
bing_site_verification   :
naver_site_verification  :
yandex_site_verification :
baidu_site_verification  :


main:
  - title: "Home"
    url: /
  - title: "About"
    url: /about/
  - title: "Research"
    url: /research/
  - title: "Publications"
    url: /publications/
  - title: "CV"
    url: /cv/
  - title: "Contact"
    url: /contact/


# Social Sharing
twitter:
  username               :
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 : "/assets/images/site-logo.png"
# For specifying social profiles
# - [https://developers.google.com/structured-data/customize/social-profiles](https://developers.google.com/structured-data/customize/social-profiles)
social:
  type                   : "Person"
  name                   : "Nasim Mohamed Ismail"
  links:
    - "https://github.com/nasim-mi"


# Analytics
analytics:
  provider               : "google-gtag"
  google:
    tracking_id          : # ADD YOUR TRACKING ID (G-XXXXXXXXXX)
    anonymize_ip         : true



# Site Author
author:
  name             : "Nasim Mohamed Ismail"
  avatar           : "/assets/images/profile.jpg"
  bio              : "PhD Candidate at Queen Mary University of London"
  location         : "London, UK"
  email            : "your.email@qmul.ac.uk"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:your.email@qmul.ac.uk"
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://nasim-mi.github.io"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/nasim-mi"
    - label: "Google Scholar"
      icon: "ai ai-google-scholar-square"
      url: "https://scholar.google.com/citations?user=YOUR_ID"
    - label: "ORCID"
      icon: "ai ai-orcid-square"
      url: "https://orcid.org/YOUR_ID"
    - label: "ResearchGate"
      icon: "ai ai-researchgate-square"
      url: "https://researchgate.net/profile/YOUR_PROFILE"


# Site Footer
footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/nasim-mi"
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:your.email@qmul.ac.uk"
  since: "2024"



# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - minimal-mistakes-jekyll.gemspec
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp
  - /docs # ignore Minimal Mistakes /docs
  - /test # ignore Minimal Mistakes /test
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"



# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false



# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false



# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # [https://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style](https://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style)



# Outputting
permalink: /:categories/:title/
timezone: "Europe/London"



# Pagination with jekyll-paginate
paginate: 5 # amount of posts to show
paginate_path: /page:num/


# Pagination with jekyll-paginate-v2
# See [https://github.com/sverrirs/jekyll-paginate-v2/blob/master/README-GENERATOR.md#site-configuration](https://github.com/sverrirs/jekyll-paginate-v2/blob/master/README-GENERATOR.md#site-configuration)
#   for configuration details
# pagination:
#   # Set enabled to true to use paginate v2
#   # enabled: true
#   debug: false
#   collection: 'posts'
#   per_page: 10
#   permalink: '/page/:num/'
#   title: ':title - page :num'
#   limit: 0
#   sort_field: 'date'
#   sort_reverse: true
#   category: 'posts'
#   tag: ''
#   locale: ''
#   trail:
#     before: 2
#     after: 2



# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-remote-theme
  - jekyll-seo-tag


# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-seo-tag



# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path>/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path>/my-awesome-category/index.html ~> path: /
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
# [https://github.com/jekyll/jekyll-archives](https://github.com/jekyll/jekyll-archives)
# jekyll-archives:
#   enabled:
#     - categories
#     - tags
#   layouts:
#     category: archive-taxonomy
#     tag: archive-taxonomy
#   permalinks:
#     category: /categories/:name/
#     tag: /tags/:name/



# HTML Compression
# - [https://jch.penibelst.de/](https://jch.penibelst.de/)
compress_html:
  clippings: all
  ignore:
    envs: development


# Collections for Academic Content
collections:
  publications:
    output: true
    permalink: /:collection/:path/
  research:
    output: true
    permalink: /:collection/:path/


# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: true
      related: true
      toc: true
      toc_sticky: true
  
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
  
  # _publications
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
  
  # _research
  - scope:
      path: ""
      type: research
    values:
      layout: single
      author_profile: true
      share: true